@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
	
}


.activeText {
	color: #ff9500;
}
.parralaxDemoDiv {
	height: 70vh;
}
.parralaxDemoDivContact {
	height: 80vh;
}
.parralaxDemoDivFooter {
	height: 30vh;
}
.heroLayout {
	position: absolute;
	top: 5rem;
}
.navLinks:hover {
	color: #ff9500;
}

.btn button {
	position: relative;
	margin: 0 20px;
	border: 2px solid #ff9500;
	border-radius: 5px;
	color: white;
	background: transparent;
	padding: 17px 60px;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	overflow: hidden;
}
button:hover {
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.btn button:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 490%;
	width: 140%;
	transition: all 0.5s ease-in-out;
}
.btn button:after {
	background: #ff9500;
	transform: translate(-98%, -25%) rotate(45deg);
}

.btn:hover button:after {
	transform: translate(-9%, -25%) rotate(45deg);
}
button span {
	position: relative;
	z-index: 1;
}

.contactBtn {
	background-color: #0047e0;
}
.profileImg {
	clip-path: circle();
	animation: upDown 3s linear infinite;
}
.profileImg2 {
	clip-path: circle();
	animation: upDown 3s linear infinite;
	width: 5rem;
}
@keyframes upDown {
	0% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}

.spacer {
	aspect-ratio: 900/15;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.layer {
	background-image: url(./utils/wave-haikei.svg);
}
.layer2 {
	background-image: url(./utils/wave-haikeiLastestBottom.svg);
}
.innerBgDiv1 {
	background-image: linear-gradient(#bec5ad, #454545) !important;
	text-align: center;
	padding: 8px 8px;
}
.innerBgDiv2 {
	background-image: linear-gradient(#454545, #bec5ad) !important;
	text-align: center;
	padding: 8px 8px;
}
.innerBgDiv3 {
	background-color: #000;
	text-align: center;
	padding: 10px 10px;
}

.icon {
	border: 2px solid #454545;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin: 5px;
}

.icon i {
	font-size: 25px;
	color: #fff;
}

/* .icon i :hover {
	color: #ff9500;
} */
.icon:focus {
	animation: bounce 0.4s cubic-bezier(0.59, -0.67, 0.24, 0.79) 2;
	animation-direction: alternate;
	color: #ffffff;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-40px);
	}
}


@media (min-width: 375px) {
	.sm640 {
		flex-direction: column;
	}
		.smallContact{
			width: 5rem;
		}

	
}

.animationOverflow{
	overflow-x: hidden;
}

